*{
    margin: 0;
    padding: 0;
}

.parent{
    width: 100%;
    height: auto;
    background-color: aquamarine;
}

.div{
    width: 150px;
    height: 150px;
    border: 2px solid red;
}
.one{
    background-color: beige;
}
.two{
    background-color: blue;
    position: absolute;
      top: -10px;
    left: 256px;
}
.three{
    background-color: blueviolet;
}
.four{
    background-color: chartreuse;
}